[submodule "themes/loficode"]
	path = themes/loficode
	url = https://github.com/meimakes/loficode-hugo-theme
[submodule "themes/loficode-hugo-theme"]
	path = themes/loficode-hugo-theme
	url = https://github.com/meimakes/loficode-hugo-theme
